 Content-Based Movie Recommender System

In [2]:
import pandas as pd
import numpy as np
import ast
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
df1= pd.read_csv("tmdb_5000_credits.csv")

In [4]:
df2= pd.read_csv("tmdb_5000_movies.csv")

In [5]:
df1.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
df1.columns=["id","title","cast","crew"]
df= df1.merge(df2,on='id')

join uses index of DF to join other dataframe
df= df_mov.join(df_cr.set_index('title'), on='title')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    4803 non-null   int64
 1   title_x               4803 non-null   object
 2   cast                  4803 non-null   object
 3   crew                  4803 non-null   object
 4   budget                4803 non-null   int64
 5   genres                4803 non-null   object
 6   homepage              1712 non-null   object
 7   keywords              4803 non-null   object
 8   original_language     4803 non-null   object
 9   original_title        4803 non-null   object
 10  overview              4800 non-null   object
 11  popularity            4803 non-null   float64
 12  production_companies  4803 non-null   object
 13  production_countries  4803 non-null   object
 14  release_date          4802 non-null   object
 15  revenue               4803 non-null   int64
 16  runtime               4801 non-null   float64
 17  spoken_languages      4803 non-null   object
 18  status                4803 non-null   object
 19  tagline               3959 non-null   object
 20  title_y               4803 non-null   object
 21  vote_average          4803 non-null   float64
 22  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(16)
memory usage: 863.2+ KB

In [8]:
def extract_genre_names(genre_str):
        genres = ast.literal_eval(genre_str)
        return [g['name'] for g in genres]

In [9]:
df['genre_list'] = df['genres'].apply(extract_genre_names)

In [10]:
df["keywords"][0]

'[{"id": 1463, "name": "culture clash"}, {"id": 2964, "name": "future"}, {"id": 3386, "name": "space war"}, {"id": 3388, "name": "space colony"}, {"id": 3679, "name": "society"}, {"id": 3801, "name": "space travel"}, {"id": 9685, "name": "futuristic"}, {"id": 9840, "name": "romance"}, {"id": 9882, "name": "space"}, {"id": 9951, "name": "alien"}, {"id": 10148, "name": "tribe"}, {"id": 10158, "name": "alien planet"}, {"id": 10987, "name": "cgi"}, {"id": 11399, "name": "marine"}, {"id": 13065, "name": "soldier"}, {"id": 14643, "name": "battle"}, {"id": 14720, "name": "love affair"}, {"id": 165431, "name": "anti war"}, {"id": 193554, "name": "power relations"}, {"id": 206690, "name": "mind and soul"}, {"id": 209714, "name": "3d"}]'

In [11]:
df['keyword'] = df['keywords'].apply(extract_genre_names)

In [12]:
df["production_companies"][0]

'[{"name": "Ingenious Film Partners", "id": 289}, {"name": "Twentieth Century Fox Film Corporation", "id": 306}, {"name": "Dune Entertainment", "id": 444}, {"name": "Lightstorm Entertainment", "id": 574}]'

In [13]:
df['company'] = df['production_companies'].apply(extract_genre_names)

In [14]:
df.head(2)

,id,title_x,cast,crew,budget,genres,homepage,keywords,original_language,original_title,...,runtime,spoken_languages,status,tagline,title_y,vote_average,vote_count,genre_list,keyword,company
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Ingenious Film Partners, Twentieth Century Fo..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Walt Disney Pictures, Jerry Bruckheimer Films..."

In [15]:
df= df.drop(columns=["tagline","cast","crew","genres","keywords","popularity","production_companies","production_countries",
                    "budget","homepage","title_x","release_date","revenue","runtime","spoken_languages","status",
                     "title_y","vote_average","vote_count","overview"],axis=1)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 4803 non-null   int64
 1   original_language  4803 non-null   object
 2   original_title     4803 non-null   object
 3   genre_list         4803 non-null   object
 4   keyword            4803 non-null   object
 5   company            4803 non-null   object
dtypes: int64(1), object(5)
memory usage: 225.3+ KB

In [17]:
df.dropna(inplace=True)

In [18]:
df.head(2)

,id,original_language,original_title,genre_list,keyword,company
0,19995,en,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Ingenious Film Partners, Twentieth Century Fo..."
1,285,en,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Walt Disney Pictures, Jerry Bruckheimer Films..."

In [19]:
df["combined_features"]=df["keyword"]+ df["company"]

In [20]:
df["combined_features"][0]

['culture clash',
 'future',
 'space war',
 'space colony',
 'society',
 'space travel',
 'futuristic',
 'romance',
 'space',
 'alien',
 'tribe',
 'alien planet',
 'cgi',
 'marine',
 'soldier',
 'battle',
 'love affair',
 'anti war',
 'power relations',
 'mind and soul',
 '3d',
 'Ingenious Film Partners',
 'Twentieth Century Fox Film Corporation',
 'Dune Entertainment',
 'Lightstorm Entertainment']

In [21]:
df['keywords'] = df.apply(lambda row: row['combined_features'] + [row['original_language']], axis=1)

In [22]:
df.drop(columns=["keyword","company","original_language","combined_features"],inplace=True)

Important function ""df['keywords'] = df.apply(lambda row: row['combined_features'] + [row['original_language']], axis=1)""
we usually name row or other variable name after lambda , apply(axis=1) means we are working on each row by row, and then by default each row value is stores in series form

In [23]:
df.head()

,id,original_title,genre_list,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel..."

In [24]:
df["id"].nunique()

4803

Lemmatization

In [25]:
lemmatizer = WordNetLemmatizer()

In [26]:
df["keywords"]= df.apply(lambda X: [lemmatizer.lemmatize(word) for word in X["keywords"] ] ,axis=1)

In [27]:
df.head()

,id,original_title,genre_list,keywords
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ..."
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i..."
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mar, medallion, space travel,..."

In [28]:
df["combined"]= df["genre_list"]+ df["keywords"]+df["genre_list"]

In [29]:
df.drop(columns=["genre_list","keywords"],inplace=True)

In [30]:
tfidf = TfidfVectorizer(stop_words='english')

In [31]:
df["combined"]= df["combined"].apply(lambda x:' '.join(x) )

In [32]:
tfidf_matrix = tfidf.fit_transform(df["combined"])

In [33]:
tfidf.get_feature_names_out()

array(['03', '10', '100', ..., '卧底肥妈', '绝地奶霸', '超级妈妈'], dtype=object)

In [34]:
tfidf_matrix.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [35]:
similarity_matrix = cosine_similarity(tfidf_matrix)

In [36]:
similarity_matrix

array([[1.        , 0.08011941, 0.05365953, ..., 0.03676276, 0.02538455,
        0.01272816],
       [0.08011941, 1.        , 0.06919357, ..., 0.02075671, 0.03089259,
        0.00752113],
       [0.05365953, 0.06919357, 1.        , ..., 0.00685468, 0.04307422,
        0.00203875],
       ...,
       [0.03676276, 0.02075671, 0.00685468, ..., 1.        , 0.04055557,
        0.01112733],
       [0.02538455, 0.03089259, 0.04307422, ..., 0.04055557, 1.        ,
        0.04733115],
       [0.01272816, 0.00752113, 0.00203875, ..., 0.01112733, 0.04733115,
        1.        ]])

In [37]:
df["original_title"]

0                                         Avatar
1       Pirates of the Caribbean: At World's End
2                                        Spectre
3                          The Dark Knight Rises
4                                    John Carter
                          ...
4798                                 El Mariachi
4799                                   Newlyweds
4800                   Signed, Sealed, Delivered
4801                            Shanghai Calling
4802                           My Date with Drew
Name: original_title, Length: 4803, dtype: object

In [38]:
df["original_title"]= df["original_title"].apply(lambda x:x.lower())

In [39]:
# def similar_movies(title,df,similarity_matrix):
#     if(title not in df["original_title"].values):
#         print("movie not present in record!! search other movie ")
#         return
#     index= df[df["original_title"]==title].index[0]
#     best_list= list(enumerate(similarity_matrix[index]))
#     top_related_movies= sorted(best_list,key= lambda x:x[1],reverse=True)[1:6]
#     for i in top_related_movies:
#         print(df["original_title"][i[0]])
#     return 
    
# title= input("enter movie name:-")
# similar_movies(title.lower(),df,similarity_matrix)

In [40]:
df["original_title"]

0                                         avatar
1       pirates of the caribbean: at world's end
2                                        spectre
3                          the dark knight rises
4                                    john carter
                          ...
4798                                 el mariachi
4799                                   newlyweds
4800                   signed, sealed, delivered
4801                            shanghai calling
4802                           my date with drew
Name: original_title, Length: 4803, dtype: object

In [41]:
import tkinter as tk
from tkinter import messagebox


def similar_movies(title, df, similarity_matrix):
    if title not in df["original_title"].values:
        return None  
    
    index = df[df["original_title"] == title].index[0]
    best_list = list(enumerate(similarity_matrix[index]))
    top_related_movies = sorted(best_list, key=lambda x: x[1], reverse=True)[1:6]
    recommendations = [df["original_title"][i[0]] for i in top_related_movies]
    return recommendations

def on_recommend():
    movie_title = entry.get().strip()
    if not movie_title:
        messagebox.showwarning("Input Error", "Please enter a movie title.")
        return

    recs = similar_movies(movie_title, df, similarity_matrix)
    if recs is None:
        output_text.set(f"Movie '{movie_title}' not found in database.")
    else:
        output_text.set("Recommended movies:\n" + "\n".join(recs))

root = tk.Tk()
root.title("Movie Recommender")

tk.Label(root, text="Enter movie title:").pack(pady=5)

entry = tk.Entry(root, width=50)
entry.pack(pady=5)

btn = tk.Button(root, text="Get Recommendations", command=on_recommend)
btn.pack(pady=10)

output_text = tk.StringVar()
output_label = tk.Label(root, textvariable=output_text, justify=tk.LEFT)
output_label.pack(pady=5)

root.mainloop()